<!DOCTYPE html>
<html>

<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag "css/StyleSheet.css" %>
  <%=javascript_include_tag "jquery-1.6.4.js","jquery.min.js","jquery-ui.min.js"%>
  <%= csrf_meta_tag %>
</head>


<body>

<div id="main">
   <div class="searchbg">
   <input type="text" value="search"/></div>



<div class="block1">
  <%= image_tag("block1.png", :alt => "new", :usemap => "#Map1", :border => "0") %>

  <map name="Map1" id="Map1">
  <area shape="poly" id="block-1" coords="8,14,132,5,202,115,200,173,7,139,8,16"  href="../third/wer" target="_self" alt="who we are" />
</map></div>


<div class="block2">
  <%= image_tag("block2.png", :alt => "new",  :usemap => "#Map2", :border => "0") %>  <!-- code must be checked-->
<map name="Map2" id="Map2">
<area shape="poly" id="block-2" coords="20,17,61,73,67,112,165,104,171,74,169,65,70,11,21,18" href="../four/wer" target="_self" />
</map>
</div>




<div class="block3">
  <%= image_tag("block3.png",  :usemap => "#Map3", :border => "0") %> <!-- code must be checked-->
<map name="Map3" id="Map3">
  <area shape="poly" id="block-3" coords="22,23,16,58,16,91,36,124,128,119,131,86,130,67,95,19,94,18,24,26" href="../five/wer" target="_self" />
</map>
</div>



<div class="block6">
  <%= image_tag("block6.png", :usemap => "#Map4", :border => "0") %>
<map name="Map4" id="Map4">
  <area shape="poly" id="block-6" coords="12,10,48,5,63,31,65,120,62,140,35,97,17,87,17,61" href="../eight/wer" />
</map>
</div>





<div class="block5">
<%= image_tag("block5.png", :usemap => "#Map5", :border => "0") %>
<map name="Map5" id="Map5">
<area shape="poly" id="block-5" coords="11,14,77,7,122,73,120,120,76,123,54,106,18,61,18,26" href="../seven/wer" />
</map>
</div>




<div class="block4">
  <%= image_tag("block4.png", :usemap => "#Map6", :border => "0") %>
<map name="Map6" id="Map6">
<area shape="poly" id="block-4" coords="5,14,31,64,114,62,85,8" href="../six/wer" />

</map>
</div>



<div class="block7">
  <%= image_tag("block7.png", :usemap => "#Map7", :border => "0") %>
<map name="Map7" id="Map7">
  <area shape="poly" id="block-7" coords="27,84,64,77,63,39,37,5,15,9,5,12,4,46" href="../ten/wer" />
</map>
</div>




<a href="http://apps.facebook.com/smnetserv/?ref=bookmarks&count=0&fb_source=bookmarks_apps&fb_bmpos=1_0/"><div class="facebook"></div></a>
<a href="http://www.linkedin.com/"><div class="linkedin"></div></a>
<a href="http://twitter.com/"><div class="twitter"></div></a>
<a href="http://www.youtube.com/"><div class="youtube_icon"></div></a>

<a href="#"><div class="download_icon"></div></a>
<a href="#"><div class="reachus_icon"></div></a>
<div class="flag"><%= image_tag("flagindia.gif") %> &nbsp;India&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("usflag.gif") %>&nbsp;USA
</div>
<div class="footer">
<center><a href="#">Site Map</a>    |    <a href="#">Privacy Policy</a>    |    <a href="#">Terms of use</a>      |    © 2011 SM NetServ Technologies Pvt. Ltd. All rights reserved</div></center>
<div class="welcomesigninregister">    Welcome [ SM Netserv Sign in / Register ]  </div>

     </div>

  
</body>
</html>
